/* .content-pro {
  width: 100%;
  margin-top: 20%;
  min-width: 40vh;
}

.box-profile {
  width: 60%;
  background-color: rgb(198, 242, 220);
  padding: 5%;
  margin: 0 auto;
  min-width: 50vh;
}

.box-one,
.box-two,
.box-three {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem auto;
  justify-content: center;
}
.box-four {
  margin: 0.5rem auto;
  display: flex;
  justify-content: center;
}
.box-one div {
  margin: 0 1%;
}
.box-two div {
  margin: 0 1%;
}
.box-three div {
  margin: 0 1%;
}
.box-four div {
  margin: 0 auto;
}
.box-five {
  width: 60%;
  display: flex;
  justify-content: center;
}

.box-cal {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.box-time {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.box-button {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 5%;
  width: 100%;
  align-items: center;
}
.setGoal {
  width: 78%;
  margin-left: auto;
  margin-right: auto;
  min-width: 35vh;
} */
