
.container {
    min-width: 450px;
    height: auto;
    margin: 0px auto;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px;
}


@media only screen and (max-width: 600px) {
    .container {
        min-width: 200px;
    }
    #text {
        text-align: center;
    }
}